@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --pink: #db2962;
    --orange: #e98431;
    --yellow: #f8df00;
    --green: #a4ac33;
    --teal: #517a67;

    --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --font-geist: 'Geist', system-ui, sans-serif;
    --font-geist-mono: 'Geist Mono', monospace;
    --font-mona: 'Mona Sans', system-ui, sans-serif;
    --font-ibm-plex: 'IBM Plex Sans', system-ui, sans-serif;
    --font-manrope: 'Manrope', system-ui, sans-serif;
  }

  html {
    font-family: var(--font-sans);
    font-feature-settings: "rlig" 1, "calt" 1;
    background: black;
    color: white;
  }

  body {
    @apply antialiased;
    background: black;
  }
}

/* Utilities */
@layer utilities {
  .text-gradient {
    background: linear-gradient(90deg, var(--pink), var(--orange));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
